/* VARIABLES */

/* MAIN COLORS */

$copart-blue: #0D5DB8;
$accent-blue: #0185FE;
$background-blue: #B7DEFF;
$auction: #18860E;
$caution: #F2BB05;
$registration: #CC5A00;
$body-font: #ACBCCB;

$brand: #0185FE;
$web-design: #0174F1;
$resources:#0066D5;

/* SECONDARY COLORS */

$darkest-grey: #3A4352;
$dark-grey: #687386;
$dark-blue: #06335C;

html {
	scroll-behavior: smooth;
}

body {
	font-family: usual, sans-serif;
	width: 100%;
	max-width: 100%;
}

h1 {
	font-family: usual, sans-serif;
	color: $darkest-grey;
	font-size: 28px;
	margin: 24px 0 24px 0;
	font-weight: 700;
	line-height: 1.6em
	
}

h2 {
	font-family: usual, sans-serif;
	color: $copart-blue;
	font-size: 24px;
	font-weight: 600;
	margin: 0 0 16px 0;
	line-height: 1.6em;
}

h3{
	font-family: usual, sans-serif;
	color: $copart-blue;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.3em;
	margin-bottom: 16px;
}

p {
	font-family: Hind, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	color: $dark-grey;
}

a {
	color: $copart-blue;
	text-decoration: none;
	cursor: pointer;
}

ul {
	font-size: 16px;
}

/* PAGE GRID */

header {
  grid-area: header;
  display: grid;
	width: 100%;
	max-width: 100%;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;
	justify-items: space-between;
	height: 96px;
	background-color: white;
	-webkit-box-shadow: 0px 4px 11px 4px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 4px 11px 4px rgba(0,0,0,0.15);
	box-shadow: 0px 4px 11px 4px rgba(0,0,0,0.15);
	position: relative;
	top: -10px;
}
article {
  grid-area: content;
  background-color: white;
  padding: 20px;
}
aside {
  grid-area: sidebar;
	color: white;
	position: relative;
	top: -10px;
	width: 20vw;
	height: 100%;
	min-height: 100%;
	background-color: $copart-blue;
	overflow: hidden;
	text-align: left;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
    "header  header"
    "sidebar content"
    "footer  footer";
}
@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 4fr;
    grid-template-areas:
      "header"
      "content"
      "sidebar"
      "footer";
  }
}

.full-width {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	max-width: 100%;
}

.type-flex {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	flex-direction: row;
	width: 80%;
	
}

.type-example-flex {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: flex-start;
	max-width: 65%;
	margin: auto;
	margin-top: 80px;
	
	.item-left {
		flex: 1;
		order: 1;
		
		p {
			margin: 0;
			line-height: 3.1em;
		}
	}
	
	.item-right {
		flex: 2;
		order: 2;
	}
	
	h1 {
		font-size: 32px;
		font-weight: 700;
		font-family: Open-sans, sans-serif;
	}
	
	h2 {
		color: $darkest-grey;
		font-size: 24px;
		font-family: Open-sans, sans-serif;
		font-weight: 600 !important;
	}
	
	h3 {
		font-family: Open-sans, sans-serif;
		color: $darkest-grey !important;
		font-weight: 500;
		font-size: 16px;
	}
	
	p {
		font-family: Open-sans, sans-serif;
		font-size: 16px;
	}
	
	ul {
		color: $darkest-grey;
	}
	
	li {
		font-family: Open-sans, sans-serif;
		color: $dark-grey;
		line-height: 2em;
		font-size: 16px;
	}
	
	.callout {
		border-left: 4px solid $copart-blue;
		margin-left: 24px;
		padding-left: 16px;
	}
}

.design-system{
	animation-play-state: paused;
}

.design-system:hover {
	animation-play-state: running;
}


.menu-grid {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;
	justify-items: center;
	height: 96px;
	background-color: white;
	-webkit-box-shadow: 0px 4px 11px 4px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 4px 11px 4px rgba(0,0,0,0.15);
	box-shadow: 0px 4px 11px 4px rgba(0,0,0,0.15);
	
	h2 {
		margin: 0;
		font-size: 20px;
	}
	
	a {
		transition-timing-function: ease-in-out;
		transition-duration: .2s;
	}
	
	a:hover {
		color: $accent-blue;
	}

	
	.social {
		
		img{
			margin: 0 8px 0 8px;
		}
		
		a {
			padding-right: 8px;
		}
	}
}

.links{
	position: fixed;
	width: 20vw;
	height: 100%;
	min-height: 100%;
	background-color: $copart-blue;
	padding-top: 160px;
	z-index: 3;
	
	h2 {
		color: white;
		font-size: 16px;
		font-weight: 500;
		margin-left: 32px;
	}
	
	a {
		color: white;
		display: block;
		transition-timing-function: ease-in-out;
		transition-duration: .2s;
		font-weight: 600;
	}
	
	a:hover {
		color: $accent-blue;
	}
}

.inside {
	grid-column-start: 2;
	position: relative;
	padding: 40px 40px 24px 0;
	z-index: 100;
	overflow: hidden;
	text-align: left;
	
	h2 {
		font-size: 18px;
		font-weight: 400;
	}
	
	h3 {
		color: $accent-blue;
		font-weight: 600;
		font-size: 16px;
	}
	
	p {
		color: $dark-grey;
		max-width: 85%;
		font-weight: 300;
		margin: 0;
	}
	
	a {
		color: $accent-blue;
		font-weight: 600;
		cursor: pointer;
		z-index: 100;
	}
	
	img {
		display: block;
		width: 35%;
		margin: auto;
	}
}

.three-image {
	position: absolute;
	right: 0;
	width: 40%;
	z-index: -1;
	margin-top: -140px;
}

.home-grid {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	background-image: url("content/guidelines-hero-1.png");
	background-size: cover;
	height: 500px;
	text-align: left;
	
	h1 {
		color: white;
		margin-left: 40px;
	}
	
	h3 {
		color: white;
		max-width: 700px;
		margin-left: 40px;
		margin-bottom: 24px;
		font-weight: 400;
		line-height: 1.6em
	}
	
	a {
		font-family: usual, sans-serif;
		color: white;
		background-color: $accent-blue;
		border-radius: 6px;
		font-weight: 600;
		padding: 12px 24px;
		margin: 40px 0 0 40px;
		transition-timing-function: ease-in-out;
		transition-duration: .4s;
		font-size: 16px;
		min-width: 250px;
		text-align: center;
	}
	
	a:hover {
		background-color: white;
		color: $copart-blue;
	}
}

.sections-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	height: 350px;
	justify-content: center;

	div {
		display: grid;
		justify-content: center;
		transition-timing-function: ease-in-out;
		transition-duration: .3s;
	}
	
	h1 {
		color: white;
		text-align: center;
		vertical-align: center;
		margin-bottom: 16px;
	}
	
	h3 {
		color: white;
		text-align: center;
		margin: 0;
		font-weight: 600;
	}
	
	a {
		color: white;
		margin: 0;
	}
	
	img {
		width: 40%;
		margin: auto;
		align-self: center;
		margin-top: 24px;
		margin-bottom: 24px;
	}

	
	.brand {
		background-color: $brand;
		justify-items: center;
		align-content: center;
		transition-timing-function: ease-in-out;
		transition-duration: .3s;
	}
	
	.brand:hover {
		background-color: $copart-blue;
	}
	
	.design {
		background-color: $web-design;
		justify-items: center;
		align-content: center;
		transition-timing-function: ease-in-out;
		transition-duration: .3s;
		
	}
	
	.design:hover {
			background-color: $copart-blue;
		}
	
	.resources {
		background-color: $resources;
		justify-items: center;
		align-content: center;
		transition-timing-function: ease-in-out;
		transition-duration: .3s;
		
	}
	
	.resources:hover {
			background-color: $copart-blue;
		}
	
}

.highlights-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2em;
	max-width: 1200px;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 80px;
	text-align: left;
	
	div {
		display: grid;
		background-color: white;
		border-radius: 6px;
		-webkit-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.15);
		-moz-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.15);
		box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.15);
		padding: 24px;
		transition-timing-function: ease-in-out;
		transition-duration: .3s;
		
		img {
			margin-bottom: 16px;
		}
		
		h2 {
			color: $darkest-grey;
			font-weight: 500;
			text-align: left;
		}
		
		a {
			font-weight: 700;
			font-size: 18px;
		}
		
		p {
			max-width: 80%;
		}
	}
	
	div:hover{
		-webkit-box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.08);
		-moz-box-shadow: 0px 0px  24px -4px rgba(0,0,0,0.08);
		box-shadow: 0px 0px  24px -4px rgba(0,0,0,0.08);
		transform: scale(1.005);
	}
	
}

.color-swatch {
	height: 120px;
	width: 120px;
	border-radius: 6px;
	margin: 12px 12px;
	
	p {
		font-size: 14px;
	}
}

.color-ramp-name {
	width: 112px;
	margin-left: 12px;
	
	p {
		font-size: 14px;
	}
}

.color-ramp-name-two {
	width: 72px;
	margin-left: 8px;
	
	p {
		font-size: 14px;
	}
}

.color-ramps {
	height: 100px;
	width: 100px;
	border-radius: 6px;
	margin: 12px 12px;
}

.color-ramps-2 {
	height: 80px;
	width: 80px;
	margin: 0;
}

.copart-blue {
	background-color: $copart-blue;
}

.accent-blue {
	background-color: $accent-blue;
}

.background-blue {
	background-color: $background-blue;
}

.auction {
	background-color: $auction;
}

.caution {
	background-color: $caution;
}

.registration {
	background-color: $registration;
}



.typo-section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	align-items: flex-end;
	justify-content: space-between;
	
	.u-bold {
	font-family: Open-sans, sans-serif;
font-weight: 700;
font-style: normal;
}

.u-medium {
	font-family: Open-sans, sans-serif;
font-weight: 600;
font-style: normal;
}

.u-regular {
	font-family: Open-sans, sans-serif;
font-weight: 400;
font-style: normal;
}

.u-light {
	font-family: Open-sans, sans-serif;
font-weight: 300;
font-style: normal;
}
	
	
	.h-bold {
font-family: hind, sans-serif;
font-weight: 700;
font-style: normal;
}

.h-medium {
font-family: hind, sans-serif;
font-weight: 500;
font-style: normal;
}

.h-regular {
font-family: hind, sans-serif;
font-weight: 400;
font-style: normal;
}

.h-light {
font-family: hind, sans-serif;
font-weight: 300;
font-style: normal;
}	
	h1 {
		color: $dark-blue;
		font-size: 22px;
	}
	
	p {
		color: $dark-blue;
		max-width: 500px;
	}
	
	h2 {
		color: $dark-blue;
		font-size: 22px;
	}
	
	.item-left {
		order: 1;
		width: 100%;
	}
	
	.item-right {
		order: 2;
		width: 100%;
	
	}
	
	.item-big {
		flex: 1;
	}
	
	.item-small {
		flex: 2;
	}
}

.logo-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: start;
	align-content: center;
}

.logo-download {
	flex: 1;
	border-radius: 6px;
	background-color: white;
	-webkit-box-shadow: 0px 4px 11px 4px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 4px 11px 4px rgba(0,0,0,0.15);
	box-shadow: 0px 4px 11px 4px rgba(0,0,0,0.15);
	margin: 16px;
	height: 100%;
	max-width: 400px;
	
	img {
		height: 112px;
		width: auto;
		margin: auto;
	}
	
	h2 {
		padding-top: 24px;
		padding-left: 24px;
		font-weight: 500;
	}
	
	.flex {
		display: flex;
		flex-direction: row;
		justify-content: stretch;
		align-items: stretch;
		height: 48px;
		margin-top: 24px;
		
		.view {
			flex: 1;
			color: white;
			text-align: center;
			background-color: $accent-blue;
			padding: 12px;
			border-radius: 0 0 0 6px;
			font-size: 16px;
			
			button {
				background-color: $accent-blue;
				color: white;
				border: none;
				font-weight: 500;
			}
		}
		
		.download-btn {
			flex: 1;
			color: white;
			text-align: center;
			background-color: $copart-blue;
			padding: 12px;
			border-radius: 0 0 6px 0;
			font-size: 16px;
		}
		
		.download-btn-full {
			flex: 1;
			color: white;
			text-align: center;
			background-color: $copart-blue;
			padding: 12px;
			border-radius: 0 0 6px 6px;
			font-size: 16px;
		}
		
		a {
				color: white;
				vertical-align: middle;
			}
	}
	
}

#banner-sizes {
	.flex {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		margin: 16px;
		padding: 0 24px;
			max-width: 800px;
			width: 800px;
			height: 40px;
		border: 2px solid $body-font;
		border-radius: 6px;
	
	}
	
	
}

#web-logos {
	text-align: left;
}

.logo-content {
	position: relative;
	display: block;
	background-color: $copart-blue;
	margin: auto;
}

.modal-dialog {
	max-width: 1000px;
	
	
	a {
		z-index: 2000;
	}
}


footer {
	display: grid;
	grid-area: footer;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
	min-height: 400px;
	max-height: auto;
	justify-items: center;
	align-items: flex-start;
	background-color: #f4f4f4;
	position: relative;
	bottom: -10px;
	z-index: 3;
	
	h3 {
		color: $darkest-grey;
		margin-top: 40px;
	}
	
	a {
		color: $dark-grey;
		transition-timing-function: ease-in-out;
		transition-duration: .15s;
	}
	
	a:hover {
		opacity: .70;
	}
}

.hidden {
	visibility: hidden;
}

@media only screen and (max-width: 850px) {
		aside {
		display: none;
	}
	
	.links {
		display: none;
	}
	
	.logo-download {
		.flex {
			height: auto;
		}
	}
}

@media only screen and (max-width: 600px) {
	.menu-grid {
	grid-template-columns: repeat(auto-fill, minmax(250px, 500px));
		height: 100%;
		grid-gap: 16px;
	}
		
		.social {
			margin-bottom: 24px;
		}
	.highlights-grid {
	grid-template-columns: repeat(auto-fill, minmax(250px, 500px));
	}
	
	.sections-grid {
		grid-template-columns: repeat(auto-fill, minmax(250px, 500px));
		height: auto;
	}
	
	footer {
	grid-template-columns: repeat(auto-fill, minmax(250px, 500px));
		text-align: center;
		justify-items: flex-start;
		padding-left: 80px;
	}
	
	.home-grid {
		min-height: 600px;
		background-position: top;
	}
	
	.logo-flex {
		flex-wrap: wrap;
	}
	
	.hidden {
		display: none;
	}
	
	.wrapper {
		overflow: hidden;
	}
}

@media only screen and (max-width: 420px){
	
	.home-grid{
		
		h1, h3 {
			margin-left: 24px;
			width: 90%;
		}
	}
	
	.inside {
		p {
			max-width: 95% !important;
			width: 95% !important;
		}
	}
	
	.three-image {
		display: none !important;
	}
	
	.type-flex {
		flex-direction: column;
	}
	
	.color-swatch {
		height: 60px;
		width: 60px;
		
		p {
			display: none;
		}
	}
	
	.color-swatch-section {
		display: none;
	}
	
	.color-ramps {
		height: 60px;
		width: 60px;
	}
	
	.color-ramps-2 {
		display: none;
	}
	
	.type-example-flex {
		max-width: 90%;
	}
	
	.inside {
		padding: 40px 0 24px 0;
	}
	
	
}

